@import "../../vars.css";

 .h1 {
  font-weight: 900;
  color: var(--color-text);
  text-align: center; /* Centrerar rubriken */
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.h1 h1 {
  font-size: 1.5rem; /* Storleken på rubriken */
}

.projects img {
  width: 100%; /* Gör bilden fullbredd inom projektcontainern */
  height: 15rem; /* Behåller bildens proportioner */
  object-fit: cover; /* Säkerställer att bilden täcker området utan att förlora proportionerna */
  border-radius: 15px; /* Rundar hörnen på bilden */
  margin-bottom: 5%; /* Lägger till lite utrymme under bilden */
}

.projects {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px; /* This will add space between the items */
  padding: 0 10%;

}

.projectContainer h3, p {
  z-index: 10;
  margin-top: 5%;
  text-align: center; /* Centrerar rubriken */
  align-items: center;
  justify-content: center;
}

.projectLinks {
  z-index: 10;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 2rem; /* Justera efter behov */
  margin-top: 1rem; /* Justera efter behov */
}

.projectLinks a {
  margin-bottom: 5%;
  color: var(--color-text); /* Vit textfärg */
  background: #aa2eb3; /* Blå bakgrundsfärg */
  padding: 5px 20px; /* Justera efter behov */
  text-decoration: none; /* Tar bort understrykning */
  border-radius: 15px; /* Rundar kanterna */
  transition: background-color 0.3s; /* Gör bakgrundsfärgsändringen mjuk */
}

.projectLinks a:hover {
  background: #2fbbe1; /* Mörkare blå färg vid hovring */
}

.project {
  flex-basis: calc(33.333%); /* Subtract the gap from the width to ensure they fit */
  display: flex;
  flex-direction: column;
  align-items: center; /* This will center the content horizontally */
  justify-content: space-between; /* This will distribute the space inside the item */
  height: 100%;
  padding: 2rem; /* Adds padding inside each project */
  box-shadow: 0 4px 6px rgba(108, 198, 254, 0.7); /* Lägger till en lätt skugga för djup */
  border-radius: 15px; /* Rundar hörnen på projektet */
  margin-bottom: 10%; /* Lägger till lite utrymme under projekten */
  margin-top: 5%;
  background-color: rgba(64, 92, 145, 0.1);
}

.project:hover {
  background-color: rgba(40, 39, 88, 0.1);
  transform: scale(1.2); /* Förstorar projektet när det hovras över */
  z-index: 100; /* Ser till att det förstorade projektet ligger ovanpå de andra */
}


@media screen and (max-width: 768px) {
  .h1 {
    font-size: 1.5rem; /* Storleken på rubriken */
    margin-top: 15%;
  }
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
  }

  .project {
    width: 100%; /* Anpassar bredden efter behov */
    margin-bottom: 20px;
    position: relative;
  }
 
  .projectContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .projectContent {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .project img {
    width: 100%; /* Gör bilden fullbredd inom projektcontainern */
    height: auto; /* Behåller bildens proportioner */
    object-fit: cover; /* Säkerställer att bilden täcker området utan att förlora proportionerna */
  }

  .project:hover {
    transform: scale(1.1); /* Förstorar projektet när det hovras över */
  }
}








