@import "../../vars.css";

.projects {
  position: relative; /* Sätter .projects till en relativ position */
  display: flex;
  overflow-x: visible;
  margin-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  cursor: pointer;
}


.projectContainer {
  display: flex; /* Placerar alla projekt bredvid varandra */
  gap: 5%; /* Skapar utrymme mellan projekten */
  padding: 0 10px; /* Lägger till lite padding på sidorna för att förhindra att innehållet rör vid kanterna */
  
}

.projectContainer h3, p {
  margin-top: 10%;
  text-align: center; /* Centrerar rubriken */
  align-items: center;
  justify-content: center;

}

.projectContainer img {
  position:relative;
  max-width: 100%; /* Gör bilden fullbredd */
}

.projectLinks {
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 10px; /* Justera efter behov */
  margin-top: 20px; /* Justera efter behov */
}

.projectLinks a {
  margin-bottom: 5%;
  color: var(--color-text); /* Vit textfärg */
  background: #aa2eb3; /* Blå bakgrundsfärg */
  padding: 5px 20px; /* Justera efter behov */
  text-decoration: none; /* Tar bort understrykning */
  border-radius: 15px; /* Rundar kanterna */
  transition: background-color 0.3s; /* Gör bakgrundsfärgsändringen mjuk */
}

.projectLinks a:hover {
  background: #2fbbe1; /* Mörkare blå färg vid hovring */
}

.project {
  height: auto;
  flex: 0 0 30%; /* Ger varje projekt en basbredd och förhindrar att de växer eller krymper */
  box-shadow: 0 4px 6px rgba(108, 198, 254, 0.7); /* Lägger till en lätt skugga för djup */
  border-radius: 15px; /* Rundar hörnen på projektet */
  flex-direction: column; /* Ordna bild och text vertikalt */
  transition: transform 0.3s ease; /* Gör förstoringsanimationen mjuk */
  margin-bottom: 10%; /* Lägger till lite utrymme under projekten */
  margin-top: 5%;
  background-color: rgba(64, 92, 145, 0.1);
}

.project img {
  height: 50vh;
}

.project:hover {
  background-color: rgba(40, 39, 88, 0.1);
  transform: scale(1.2); /* Förstorar projektet när det hovras över */
  z-index: 1; /* Ser till att det förstorade projektet ligger ovanpå de andra */
}


@media screen and (max-width: 768px) {
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
  }

  .project {
    width: 100%; /* Anpassar bredden efter behov */
    margin-bottom: 20px;
    position: relative;
  }


  .projectContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .projectContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .project img {
    width: 100%; /* Gör bilden fullbredd inom projektcontainern */
    height: auto; /* Behåller bildens proportioner */
    object-fit: cover; /* Säkerställer att bilden täcker området utan att förlora proportionerna */
  }

  .project:hover {
    transform: none; /* Tar bort förstoringsanimationen vid hovring */
  }
}








