@import "../../vars.css";

.flexContainer {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  align-items: center; /* Centrerar innehållet vertikalt */
  padding: 0 10%; /* Ger lite marginal på sidorna */
}

.pContainer {
  flex: 1; /* Tar upp 1/3 av tillgängligt utrymme */
  z-index: 1;
}

.p {
  font-size: 1rem; /* Justera textstorleken efter behov */
}

.diamond {
  flex: 1; /* Tar upp 1/3 av tillgängligt utrymme */
  display: flex;
  justify-content: center; /* Centrerar bilden horisontellt */
}

.diamond img {
  margin-top: 10rem;
}

.skillsContainer {
  flex: 1; /* Tar upp 1/3 av tillgängligt utrymme */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrerar skickligheter vertikalt */
}

.circlesContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.skillGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circles {
  width: 4rem;
  height: auto;
  margin-bottom: 2rem; 
}

.list {
  padding: 0;
  list-style: none;
}

.list li {
  background-color: transparent;
  border: 1px solid rgba(108, 198, 254, 0.5);
  box-shadow: 0 0 5px rgba(215, 108, 254, 0.8);
  border-radius: 15px;
  color: var(--color-text);
  font-weight: bold;
  padding: 0.5rem;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}


.h1 {
  font-size: 1rem;
  color: var(--color-text);
  margin-bottom: 5%;
  text-align: center;
}



@media screen and (max-width: 768px) {
  .flexContainer {
    flex-direction: column;
    align-items: center; 
    padding: 0 5%;
  }

  .pContainer {
    margin-top: 10%;
    flex-basis: 100%;
    justify-content: center;
  }
  .skillsContainer {
    flex-basis: 100%;
    justify-content: center;
    margin-top: 0%;
    padding-top: 0;
  }

  .list {
    top: 0;
    margin-bottom: 3rem;
  }

  .skillGroup {
    padding: 0.5rem;

  }
  .diamond img {
    margin-top: 1.5rem;
    z-index: 1;
    position: relative; /* Positionerar bilden relativt till föräldern */
    max-width: 100%; /* Justera storleken på din diamantbild */
    height: 40vh;
  }

  .diamond {
    margin-top: 0.5rem;
    bottom: 0;
  }
  
  .list li {
    z-index: 2;
    padding: 0.5rem;
    font-size: 0.6rem;
  }

  .p {
    text-align: center;
  }

  .circlesContainer {
    flex-direction: row;
    top:0;
    gap: 0;
    padding: 0;
  }

  .skillGroup {
    margin-top: 0;
  }

  .circles {
    margin-bottom: 2rem;
  }

  .list li {
    margin-bottom: 2rem;
  }


}
