@import "../../vars.css";
@import "bootstrap/dist/css/bootstrap.css";

.flexContainer {
  margin-top: 15%;
  display: flex;
  justify-content: space-between; 
  margin-left: 10%;
  margin-right: 10%;
}

.pContainer {
  margin-top: 5%;
  z-index: 1;
  flex-basis: 35%; /* Justera denna bredd efter behov */
}

.p {
  margin-top: 10%; /* Justera avståndet mellan bild och text efter behov */
  z-index: 2;
  font-size: 1rem; /* Justera textstorleken efter behov */
}

.skillsContainer {
  flex-basis: 40%; /* Justera denna bredd efter behov */
}

.list {
  display: flex;
  flex-wrap: wrap;

}

.list li {
  background-image: radial-gradient(circle, rgba(255, 173, 239, 0.9) 10%, rgba(94, 130, 207, 0.2) 100%);
  list-style: none;
  text-align: center;
  color: var(--color-bg);
  font-weight: 999;
  font-style: bold;
  font-size: 1rem; /* Justera textstorleken efter behov */
  text-shadow: 0 0 1px var(--color-bg);
  border:none;
  border-radius: 15px; /* Justera rundheten på ramen efter behov */
  padding: 0.75rem; /* Justera padding efter behov */
  margin: 0.5rem; /* Justera marginalen efter behov */
  flex: 1 1 22%; /* Justera detta för att kontrollera hur många färdigheter som visas per rad */
}


.diamond {
  max-width: 100%; /* Justera storleken på din diamantbild */
  justify-content: center; /* Centrerar bilden horisontellt */
  position: relative; /* Positionerar bilden relativt till föräldern */
}


.diamond img {
  position: relative; /* Positionerar bilden relativt till föräldern */
  max-width: 100%; /* Justera storleken på din diamantbild */
}

@media screen and (max-width: 768px) {
  .flexContainer {
    flex-direction: column;
    align-items: center;
  }
  .pContainer {
    flex-basis: 100%;
    justify-content: center;
  }
  .skillsContainer {
    flex-basis: 100%;
    justify-content: center;
  }

  .list {
    margin: 0;
    padding: 0;
  }
  .diamond img {
    position: relative; /* Positionerar bilden relativt till föräldern */
    margin-bottom: -25%;
    margin-top: 10%;
    max-width: 100%; /* Justera storleken på din diamantbild */
  }
  .diamond {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrerar bilden horisontellt */
  }
  .p {
    text-align: center;
  }

}