@import "../../vars.css";

/* Contact.module.css */
.contact {
    margin: 0 auto;
    padding: 2rem;
  }
  
  .contactHeader {
    text-align: center;
    color: #ffffff;
    margin-bottom: 1.5rem;
  }
  
  .contactInfo {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #ffffff;
  }
  
  .contactInfo p {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.6;
    margin: 1rem 0;
  }
  
  .socialMediaLinks {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .socialMediaLinks a {
    text-decoration: none;
    font-size: 2rem;
    color:#76caff;
    padding: 0.75rem 1rem;
    border-radius: 15px;
    transition: background-color 0.7s ease;
    transition: transform 0.5s ease;
  }
  
  .socialMediaLinks a:hover {
    color:#ff63f7;
    transform: scale(1.2);
  }
  
  .contactForm {
    display: flex;
    flex-direction: column;
  }
  
  .contactForm label {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
  }
  
  .contactForm textarea {
    background-color: #ffffff;
    width: 30%;
    align-self: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #0e091e;
    border-radius: 15px;
    resize: vertical;
  }

  .contactButton {
    align-content: center;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    border: none;
    color: var(--color-text);
    background-color: rgba(117, 211, 255, 0.1);
    box-shadow: 1px 3px 5px rgba(108, 198, 254, 0.7);
    font-size: 1rem;
    border-radius: 15px;
    transition: background-color 0.7s ease;
    transition: transform 0.5s ease;
  }

    .contactButton:hover {
        transform: scale(1.1);
    }

  
  .contactForm button {
    font-size: 1rem;
    font-weight: bold;
    align-self: center;
    cursor: pointer;
    width: 10%;
    background: #76caff;
    color: var(--color-bg);
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 15px;
    transition: background-color 0.3s ease;
  }
  
  .contactForm button:hover {
    background: #ff63f7;
  }
  
  @media screen and (max-width: 768px) {
    .contactForm textarea {
      width: 80%;
    }

    .contactButton {
      width: 50%;
    }

    .contactForm button {
      width: 50%;
    }

    .contactInfo {
      font-size: 0.75rem;
    }

    .contactHeader {
      font-size: 1.5rem;
    }

    .socialMediaLinks a {
      display: flex;
      font-size: 1.5rem;
      padding: 0.5rem 0.5rem;
    }

    .contactButton {
      display: flex;
      padding: 0.5rem 0.5rem;
      font-size: 1rem;
      font-weight: bold;
      width: auto;
    }

  }