@import "../../vars.css";

.contactMe {
  background-image: url("/public/Mountains.png"); /* Lägger till en bakgrundsbild */
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #181136; /* Lägger till en ram runt containeren */
  box-shadow: 1px 2px 3px 2px rgba(108, 222, 254, 0.7); /* Lägger till en lätt skugga för djup */
  border-radius: 30px; /* Rundar hörnen på containeren */
  z-index: 100; 
  justify-content: center;
  display: flex; /* Aktiverar Flexbox */
  flex-direction: column; /* Staplar barnen vertikalt */
  margin-bottom: 5%; /* Lägger till lite utrymme under `contactMe` */
  margin: 0 10%; /* Lägger till lite utrymme runt containeren */
}
.contactContainer { 
  
  z-index: 100; 
  display: flex; /* Aktiverar Flexbox */
  flex: 1; /* Låter containeren ta upp allt tillgängligt utrymme */
  flex-direction: column; /* Staplar barnen vertikalt */
  margin-bottom: 1rem; /* Lägger till lite utrymme nedtill */
}

.contactInfo img {
  position: absolute;
  z-index: 0;
}

.socialMediaLinks a {
  z-index: 100; 
  color: #82daf7; /* Ändrar bakgrundsfärgen på länkarna */
  transition: color 0.5s ease, transform 0.5s ease; 
}

.socialMediaLinks a:hover {
  color: #ff6fe5; /* Ändrar bakgrundsfärgen på länkarna vid hovring */
  transform: scale(1.2); /* Förstorar länkarna vid hovring */
}

.contactInfo p {
  z-index: 100; 
  width: 100%; 
  display: flex; /* Gör att vi kan använda flexbox-egenskaper */
  flex-direction: column; /* Staplar barnen vertikalt */
}

.contactHeader {
  padding-top: 2rem;
  z-index: 100; 
  display: flex; /* Aktiverar Flexbox */
  align-items: center; /* Centrerar rubriken vertikalt */
  justify-content: center; /* Centrerar rubriken horisontellt */
  margin-bottom: 1rem; /* Lägger till lite utrymme under rubriken */
 
}

.contactHeader h1 {
  text-align: center;
  font-size: 2.5rem; /* Storleken på rubriken */
  letter-spacing: 0.1rem; /* Lägger till lite utrymme mellan bokstäverna */
  color: var(--color-text); /* Färgen på rubriken */
}

.socialMediaLinks {
  z-index: 100; 
  display: flex; /* Fortsätter att använda flex för att arrangera länkarna horisontellt */
  justify-content: center; /* Centrerar länkarna */
  gap: 2rem; /* Lägger till utrymme mellan länkarna */
  font-size: 2.5rem; /* Storleken på ikonerna */
}

.contactButton {
  align-self: center; /* Centrerar knappen i `contactInfo` */
  /* Behåll andra stilar som du redan har definierat */
}

.flexContainer {
  display: flex; /* Aktiverar Flexbox */
  width: 100%; /* Gör att containeren tar upp hela bredden */
  justify-content: space-between; /* Lägger till utrymme mellan barnen */
  align-items: center; /* Centrerar barnen vertikalt */
}

.contactInfo, .imagepic {
  display: flex; /* Aktiverar Flexbox */
  flex-direction: column; /* Staplar barnen vertikalt */
  flex: 1;
  margin: 0; /* Ger lite utrymme mellan elementen */
}

.imagepic {
  align-items: center; /* Centrerar bilden horisontellt */
  margin-left: 10%;
  padding-bottom: 2rem; /* Lägger till lite utrymme nedtill */
}

.contactInfo {
  font-size: 1rem; /* Storleken på texten */
  padding: 0 5%; /* Lägger till lite utrymme runt containeren */
}

.imagepic img {
  margin-right: 10%; 
  width: 100%; /* Gör bilden responsiv */
  border: 1px solid #1b113a; /* Lägger till en ram runt bilden */
  box-shadow: 1px 2px 10px 2px rgba(108, 222, 254, 0.7); /* Lägger till en lätt skugga för djup */
  border-radius: 100%; /* Rundar hörnen på bilden */
}

.contactFormContainer {
  display:flex;
  width: 100%; /* Gör att containeren tar upp hela bredden */
  display: flex; /* Aktiverar Flexbox */
  flex-direction:column; /* Staplar barnen vertikalt */
  gap: 10px; /* Lägger till lite utrymme mellan elementen */
  padding: 0 10%; /* Lägger till lite utrymme runt containeren */
  padding-bottom: 2rem; /* Lägger till lite utrymme nedtill */
  padding-top: 2rem; /* Lägger till lite utrymme upptill */
}

.contactForm {
  text-align: center; /* Centrerar formuläret */
  row-gap: 10px; /* Lägger till lite utrymme mellan raderna */
  width: 50%; /* Gör att formuläret tar upp hela bredden */
  display: flex; /* Aktiverar Flexbox */
  flex-direction: column; /* Staplar barnen vertikalt */
}

.formRightAlign {
  display: flex;
  justify-content: center; 
}

.contactForm input, .contactForm textarea{
  padding: 0.5rem; /* Lägger till lite utrymme runt inputfälten */
  border: 1px solid #1b113a; /* Lägger till en ram runt bilden */
  background-color: #82daf7; /* Ändrar bakgrundsfärgen på inputfälten */
  border-radius: 15px; /* Rundar hörnen på inputfälten */
  width: 100%; /* Gör att inputfälten tar upp hela bredden */
}

.contactForm button {
  padding: 0.5rem; /* Lägger till lite utrymme runt knappen */
  border: 1px solid #1b113a; /* Lägger till en ram runt bilden */
  border-radius: 15px; /* Rundar hörnen på knappen */
  width: 40%; /* Gör att knappen tar upp hela bredden */
  background-color: #82daf7; /* Ändrar bakgrundsfärgen på knappen */
  color: var(--color-bg); /* Ändrar textfärgen på knappen */
  font-weight: bold; /* Gör texten fet */
  cursor: pointer; 
  align-self: center;
  transition: color 0.5s ease, transform 0.5s ease; 
}

.contactForm button:hover {
  background-color: #ff6fe5; /* Ändrar bakgrundsfärgen på knappen vid hovring */
}

.ButtomP{
  display: flex; /* Aktiverar Flexbox */
  justify-content: center; /* Centrerar knappen */
  padding-top: 2rem; /* Lägger till lite utrymme ovanför knappen */
}

.contactButton {
  padding: 0.5rem; /* Lägger till lite utrymme runt knappen */
  border: none;
  border-radius: 15px; /* Rundar hörnen på knappen */
  width: 50%; /* Gör att knappen tar upp hela bredden */
  background-color: #82daf7; /* Ändrar bakgrundsfärgen på knappen */
  color: var(--color-bg); /* Ändrar textfärgen på knappen */
  font-weight: bold; /* Gör texten fet */
  cursor: pointer; 
  align-self: center;
  transition: color 0.5s ease, transform 0.5s ease; 
  margin-bottom: 2rem; /* Lägger till lite utrymme under knappen */
}

.contactButton:hover {
  background-color: #ff6fe5; /* Ändrar bakgrundsfärgen på knappen vid hovring */
  transform: scale(1.2); /* Förstorar knappen vid hovring */
}


@media screen and (max-width: 768px) {
  .contactForm {
    width: 100%; /* Gör att formuläret tar upp hela bredden */
  }
  .imagepic {
    display: none; /* Gömmer bilden på mindre skärmar */
  }
  .contactInfo {
    margin-right: 0; /* Tar bort utrymme mellan elementen */
  }
  .contactFormContainer {
    padding: 0; /* Tar bort utrymme runt containeren */
  }
 
  .ButtomP {
    padding-top: 2rem; /* Tar bort utrymme ovanför knappen */
  }
  .contactContainer {
    margin: 0; /* Tar bort utrymme runt containeren */
  }
  .contactHeader h1 {
    font-size: 3rem; /* Storleken på rubriken */
  }
  .contactMe {
    margin-top: 0; /* Tar bort utrymme ovanför `contactMe` */
    background-image: none; /* Tar bort bakgrundsbilden */
    background-color: rgba(93, 163, 224, 0.1) /* Ändrar bakgrundsfärgen på containeren */
  }
  .socialMediaLinks {
    margin-top: 1.5rem; /* Lägger till lite utrymme ovanför länkarna */
    gap: 2rem; /* Lägger till lite utrymme mellan länkarna */
    font-size: 2rem; /* Storleken på ikonerna */
  }
  .contactInfo p {
    text-align: center; /* Centrerar texten */
  }
  .contactInfo {
    margin-right: 0; /* Tar bort utrymme mellan elementen */
  }
  .contactFormContainer {
    padding: 0; /* Tar bort utrymme runt containeren */
  }
  .contactButton {
    width: 40%; 
  }
  .contactForm input, .contactForm textarea {
    align-self: center; /* Centrerar inputfälten */
    width: 50%; /* Gör att inputfälten tar upp hela bredden */
  }
  .contactForm button {
    align-self: center; /* Centrerar knappen */
    width: 20%; /* Gör att knappen tar upp hela bredden */
  }
}

@media screen and (max-width: 468px){

  .contactForm input, .contactForm textarea {
    width: 80%; /* Gör att inputfälten tar upp hela bredden */
  }
  .contactForm {
    width: 100%; /* Gör att formuläret tar upp hela bredden */
  }
  .contactHeader h1 {
    font-size: 2rem; /* Storleken på rubriken */
  }
  .socialMediaLinks {
    gap: 2rem; /* Lägger till lite utrymme mellan länkarna */
    font-size: 2rem; /* Storleken på ikonerna */
  }
  .contactInfo p {
    font-size: 1rem; /* Storleken på texten */
  }
  .contactButton {
    width: 40%; /* Gör att knappen tar upp hela bredden */
  }
  .contactForm button {
    width: 40%; /* Gör att knappen tar upp hela bredden */
  }
  .contactForm input, .contactForm textarea {
    width: 80%; /* Gör att inputfälten tar upp hela bredden */
  }
}

