@import "../../vars.css";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.leftContainer {
  display: flex;
  align-items: center;
}

.title {
  font-weight: bold;
  color: #ffffff; /* Eller valfri textfärg */
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.rightContainer {
  position: relative;
}

.hamburger {
  font-size: 2rem;
  cursor: pointer;
  display: flex; /* Hamburgarmenyn är alltid synlig */
  z-index: 100; /* Ser till att hamburgarmenyn är ovanpå menyn */
}
.closeIcon {
  position: absolute;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 101; /* Se till att krysset ligger över den utfällbara menyn */
}

.menu {
  display: none; /* Gömmer menyn initialt */
  position: fixed;
  top: 0;
  right: 0;
  height: 70vh; /* Fullskärmshöjd */
  width: 200px; /* Bredd på den utfällbara menyn */
  background-color: #201331; /* Ljus bakgrundsfärg för menyn */
  flex-direction: column;
  padding-top: 4rem; /* Utrymme för krysset */
  box-shadow: -4px 3px 5px rgba(86, 145, 255, 0.2); /* Lägg till skugga för djup */
  z-index: 99; /* Ser till att menyn är under hamburgarmenyn */
}

.menu.show {
  display: flex; /* Visar menyn när den är aktiv */
}

.menuItems {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.menuItems li {
  padding: 1rem;
  border-bottom: 1px solid #ccc; /* Lägg till en tunn linje mellan varje länk */
}

.menuItems a {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.menuItems a:hover {
  color: #6fb5ff;
}




