@import "../../vars.css";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.leftContainer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.title {
  font-weight: bold;
  color: #ffffff; /* Eller valfri textfärg */
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 1px solid #82b3f7;
  box-shadow: -1px 3px 3px rgba(160, 241, 255, 0.4);
  border-radius: 15px;
}

.title:hover {
  color: #6fcfff; /* Eller valfri hoverfärg */
  text-decoration: none;
}

.rightContainer {
  position: relative;
}

.hamburger {
  font-size: 2rem;
  cursor: pointer;
  display: flex; /* Hamburgarmenyn är alltid synlig */
  z-index: 1; /* Ser till att hamburgarmenyn är ovanpå menyn */
}

.hamburger:hover {
  color: #6fcfff; /* Eller valfri hoverfärg */
}

.closeIcon {
  position: relative;
  top: 0;
  font-size: 2rem;
  cursor: pointer;
  z-index: 100; /* Se till att krysset ligger över den utfällbara menyn */
}

.closeIcon:hover {
  color: #6fcfff; /* Eller valfri hoverfärg */
}

.menu {
  position: absolute;
  display: none; /* Gömmer menyn initialt */
  right: 0;
  width: 120px; /* Bredd på den utfällbara menyn */
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem; /* Utrymme för krysset */
  z-index: 99; /* Ser till att menyn är under hamburgarmenyn */
}
.menu.active {
  display: flex; /* Visar menyn när den är aktiv */
}

.menu.show {
  display: flex; /* Visar menyn när den är aktiv */
}

.menuItems {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: 1px solid #82b3f7;
  border-radius: 15px; /* Rundar hörnen på menyn */
  box-shadow: -4px 1px 5px rgba(86, 145, 255, 0.2); /* Lägg till skugga för djup */
}

.menuItems li {
  padding: 2rem;
}

.menuItems a {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.menuItems a:hover {
  color: #6fb5ff;
}

@media screen and (max-width: 768px) {
  .navbar {
    align-items:end;
  }
  .leftContainer {
    align-items: end;
  }
  .rightContainer {
    position: relative;
  }
  .title {
    margin-bottom: 1rem; 
  }
  .hamburger {
    z-index: 100; 
    display: flex; /* Visar hamburgarmenyn när skärmen är mindre än 768px */
  }
  .menu {
    display: none; /* Gömmer menyn när skärmen är mindre än 768px */
  }
  .menu.active {
    display: flex; /* Visar menyn när den är aktiv */
  }

  .menuItems {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border: 1px solid #82b3f7;
    background-color: rgba(128, 42, 121, 0.4); /* Semi-transparent background */
    border-radius: 15px; /* Rounds the corners of the menu */
    box-shadow: -4px 1px 5px rgba(92, 192, 255, 0.3); /* Adds shadow for depth */
    backdrop-filter: blur(10px); /* Blurs the background behind the menu items */
  }

  .menuItems li {
    padding: 2rem;
  }

  .menuItems a {
    color: var(--color-text);
    text-shadow: 4px 4px 4px var(--color-bg);
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
  }
}


