
.footerStyle {
    margin-top: 3rem;
    background-color: var(--color-bg);
    border-top: 1px solid #80e1ff;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerStyle a {
    margin-top: 2rem;
    color: #ffffff;
    font-weight: 900;
    align-items: center;
    text-decoration: none;
    font-size: 0.8rem;
    display: flex;
}

.menuItems {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.menuItems a {
    font-size: 1rem;
    transition: color 0.3s;
}


.menuItems a:hover {
    color: #78c2ff;
}

.footertext p {
    font-size: 0.8rem;
    color: #ffffff;
   
}

.footertext {
    font-weight: 300;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
    .footerStyle {
        height: 6rem;
    }
    .menuItems {
        gap: 2.5rem;
    }
}