:root {
    --color-text: #fff;
    --color-bg: #211830;
    --color-primary: #8394d8;
    --color-secondary: #3b5d9c;
    --color-dark: #101b2a;
    --color-text-hover: #ccd8ff;
    --color-backround:#3b5d9c;
    --color-hamburger: #3b2953;
}